spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/servexa_booking
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: ${PORT:8083}
