spring:
  application:
    name: appointment-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/servexa_appointment
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

server:
  port: 8083

logging:
  level:
    com.servexa: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
  instance:
    hostname: appointment-service
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

jwt:
  secret: ${JWT_SECRET:MySecretKeyForServeXaApplicationThatIsAtLeast256BitsLong123456}

# Vehicle service configuration
vehicle:
  service:
    url: ${VEHICLE_SERVICE_URL:http://localhost:8084}