spring:
  application:
    name: employee-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:postgres}
  
  datasource:
    url: jdbc:postgresql://localhost:5432/servexa_employee
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  
  security:
    jwt:
      secret: ${JWT_SECRET:MySecretKeyForServeXaApplicationThatIsAtLeast256BitsLong123456}
      expiration: ${JWT_EXPIRATION:86400000}

server:
  port: ${PORT:8082}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.servexa.employee: DEBUG
    org.springframework.security: INFO
    org.springframework.web: INFO

