version: '3.9'

services:
  chromadb:
    image: ghcr.io/chroma-core/chroma:0.5.3
    container_name: chromadb
    ports:
      - "8000:8000"
    environment:
      - IS_PERSISTENT=TRUE
    volumes:
      - ./chroma_db:/chroma/chroma
    restart: unless-stopped
