{{- if .Values.namespace.create }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "servexa.labels" . | nindent 4 }}
    app: servexa
    environment: {{ .Values.environment.name }}
{{- end }}